body {
    font-family: Arial, sans-serif; 
}
.invoice-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100mm; 
    background: white;
}

.line{
    margin-top: 12px;
    width: 90%;
    border: 1px solid;
    border-bottom-color: black;
    margin-left: 13px
}

h1 { 
    letter-spacing: 1px;
    color: #333; 
    font-size: 26px; 
    margin-bottom: 0;
}

h2 { 
    letter-spacing: 1px;
    font-size: 23px; 
    margin-bottom: 0;
}
.info {
    margin-top: 10px;
    text-align: left;
    margin-left: 32px;

}
.info p{
    font-size: 14px;
}
span{
    letter-spacing: 1px;
    font-weight: bold;
}
p { 
    letter-spacing: 1px;
    margin: 0;
    font-size: 14px; 
}

.info2{
    margin-left: -10px;
}

.barcode{
    margin-top:10%;
    margin-left: -8px;
    margin-bottom: 0;
}
.cod{
    letter-spacing: 3px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5%;
}
.space {
    width: 100%;
    height: 75px;
}
.space2{
    width: 100%;
    height: 30px;
}
@media print {
    @page {
        size: 80mm 150mm; /* Define el tamaño del papel */
        margin: 0; /* Elimina los márgenes predeterminados */
    }
    .invoice-container {
        margin-top: 50px;
    }
    .no-print {
        display: none; 
    }
}