.footer{
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	padding-top: 7px;
	position:fixed;
	left:0;
	bottom:0;
	height:50px;
	width:100%;
	background:var(--HFcolor);
}

@media screen and (max-width: 1400px) {
	.footer{
		height: 40px;
		font-size: 11px;
	}
  }
  