@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --body_color:#F0EEEE;
    --colorWhite: #ffffff;
    --color1:#544A0D;
    --color2:#BFAA1E;

    /*botones*/
    --color3:#EFD425;
    --color4:#d7bf21;

    /*color input*/
    --bacInput: #e7e5e586;
 
}

body{
    font-family: 'Poppins';
    background-color: var(--body_color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: var(--colorWhite);
    border-radius: 12px;
}

.cont-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-1 h1{
    color: var(--color1) ;
}

.line{
    margin-top: 12px;
    background-color: var(--color2);
    width: 80%;
    height: 4px;
}

form{
    margin-top: 50px;
    width: 80%;
}

label{
    font-size: 18px;
    font-weight:500;
    letter-spacing: 2px;
    color: var(--color1);
}

input{
    width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight:500;
    padding-left: 5px;
    border: none;
    background-color: var(--bacInput);
    border-bottom: 2.5px solid  var(--color2) ;
    margin-bottom: 20px;
}

input:focus
{
    outline: none;
}

.opc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 60px;
}

.opc a{
    color: var(--color1);
    font-size: 18px;
}

.opc button{
    padding: 15px;
    width: 160px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: var(--color3);
    color: var(--color1);
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 18px;
    letter-spacing: 1px;
   cursor: pointer;
}

.opc button:hover{
    background-color: var(--color4);
}

.msgS{
    color:green;
    margin-top: 10px;
}
.msg{
    color: red;
    margin-top: 10px;
}

.cont-2{
    width: 50%;
}

.cont-2 img{
    float: right;
    width: 100%;
    height: 100%;
}